$dot-size: 8px; // Size of the indicator dot
$dot-scale: 3; // How much the pulse animation should scale up by in size
$dot-full-size: (3 * $dot-size);
$blue-medium-800: #00739c;
.wp-block-taggable-image-container {
    position: relative;
}

img.wp-block-taggable-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-block-taggable-image-dot {
    position: absolute;
    height: $dot-full-size;
    width: $dot-full-size;
    display: flex;
    align-items: center;
    justify-content: center;
    left: (-$dot-full-size / 2) - 2;
    top: (-$dot-full-size / 2) - 2;
    &::before,
    &::after {
        border-radius: 100%;
        content: " ";
        pointer-events: none;
        position: absolute;
    }
    &::before {
        animation: nux-pulse 1.6s infinite cubic-bezier(0.17, 0.67, 0.92, 0.62);
        background: rgba($blue-medium-800, 0.9);
        height: $dot-size * $dot-scale;
        transform: scale((1 / $dot-scale));
        width: $dot-size * $dot-scale;
    }
    &::after {
        background: $blue-medium-800;
        height: $dot-size;
        width: $dot-size;
    }
    @keyframes nux-pulse {
        100% {
            background: rgba($blue-medium-800, 0);
            transform: scale(1);
        }
    }
}